body {
    background-image: url("https://picsum.photos/id/43/1000/1000");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin: 0px;
}

#header {
    background-color:#262730;
    color:snow;
    height:60px;
}

.nav > a{
    color:#ffffff
    
}

#hero {
    font-size:22px;
    color: white;
}

#hero > h1 {
    font-size:80px;
}


#cta {
    background-color:#28347D ;
    color:white;
    text-decoration: none;
}